# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.egg-info/
dist/

# ========================
# Vidéos / images temporaires
# ========================
uploads/
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png

# ========================
# Logs
# ========================
*.log

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Java / Build
# ========================
*.class
*.jar
*.war
*.iml
out/
build/
bin/
